<div class="row">
  <div class="col">
    <h1>*ngIf</h1>
    <hr>
    <div *ngIf="show" class="card text-white bg-primary mb-3" style="width: 100%;">
      <div class="card-body">
        <h5 class="card-title">{{ phrase.author }}</h5>
        <p class="card-text">{{ phrase.message }}</p>
      </div>
    </div>
    <button class="btn btn-outline-primary btn-block" (click)="show = !show">
      Mostrar / Ocultar
    </button>
  </div>
  <div class="col">
    <h1>*ngFor</h1>
    <hr>
    <ul class="list-group">
      <li *ngFor="let character of characters; let i = index" class="list-group-item">{{ i + 1}}. {{ character }}</li>
    </ul>
  </div>
</div>
